
      <div
        style="
          width: 85%;
          margin: auto;
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
          justify-content: space-between;
        "
      >
        <div style="flex-basis: 25%; padding: 10px">
          <span>
            <img
              id="logo-image"
              src="./assets/icons/logo.png"
              alt="logo"
              width="20"
              ;
              height="20"
              ;
            />
            <label for="logo-image">Logo</label>
          </span>
          <p>
            This is a paraghraph which is a description of a company.build in
            footer it is have a logo, social media, copyrights,that is an
            example of what i learn.
          </p>
        </div>
      
        
        <div>
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-whatsapp"></i>
          <i class="fa-regular fa-envelope"></i>
        </div>
      </div>
      <div style="flex-basis: 100%; text-align: center; padding: 10px;">
        <p>&copy; 2024 Your Company. All rights reserved.</p>
      </div>
  